/* Diego García Campos */
/* ASIR 1 */
/* 05 - 03 - 2025 */
/* Ejercicio 1 */
/* Version 01 */

/* Define el color de fondo para toda la pagina */
body {
    background-color:burlywood;
}

/* Establece el color del texto a azul en los párrafos*/
p {
    color: blue;
}

/* Aplica un margen de 20px a todos los elementos h1 */
h1 {
    margin: 20px;
}

/* Añade un borde de 2px solido negro a todos los elementos div */
div {
    border: 2px solid black;
}

