/* Diego García Campos */
/* ASIR 1 */
/* 05 - 03 - 2025 */
/* Ejercicio 5 */
/* Version 05 */

/* Estilos para la cuadrícula */
.Grid {
    display: grid;
    grid-template-columns: repeat(3,1fr); /*Selecciona las tres columnas de igual tamaño */
    grid-template-rows: 100px 200px; /* Indica que la primera fila de 100px y la segunda sea de 200px */
    gap: 5px; /* Espacio entre celdas */
}

/* Estilos generales para cada celda de la cuadricula */

.Cuadricula{
    height: 100%;
}

/*Colores de fondo para cada celda*/

#C1{
    background-color: lightblue;
}

#C2{
    background-color: lightcoral;
}

#C3{
    background-color: lightcyan;
}

#C4{
    background-color: lightgoldenrodyellow;
}

#C5{
    background-color: lightgray;
}

#C6{
    background-color: lightgreen;
}