/* Diego García Campos */
/* ASIR 1 */
/* 05 - 03 - 2025 */
/* Ejercicio 4 */
/* Version 02 */

/* Usa display:flex en el contenedor*/
.Contenedor{

        display: flex;
        justify-content: space-around;
        height: 200px;
        align-items: center;
        background-color:aquamarine;

}

/*Re-ajuste*/

.FlexBoxes {
    width:100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;

}



/* Colores */
.Rojo {
    background-color: red;
}
.Azul {
    background-color: blue;
}
.Verde {
    background-color: green;
}