/* Diego García Campos */
/* ASIR 1 */
/* 05 - 03 - 2025 */
/* Ejercicio 4 */
/* Version 01 */

/* Usa display:flex en el contenedor*/
.Contenedor{

        display: flex;
        justify-content: space-around;
        height: 200px;
        align-items: center;
        background-color:aquamarine;

}

/* Colores */
.Rojo {
    background-color: red;
}
.Azul {
    background-color: blue;
}
.Verde {
    background-color: green;
}