/* Diego García Campos */
/* ASIR 1 */
/* 05 - 03 - 2025 */
/* Ejercicio 6 */
/* Version 05 */


/* Aseguramos los margenes y padding para toda la pagina */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;

}

/*Contenedor de la pagina*/
.Contenedor{
    display:flex;
    flex-direction: column; /*Organizamos los elementos en columnas*/
    height: 100%;
}
/*Barra de navegación "sidebar"*/
.sidebar{
    width: 100%;
    background: lightgreen;
    color: white;
    padding: 15px;
    text-align: center;
}
/*Dentro de la barra de navegación , la lista*/
.sidebar ul {
    list-style: none; /*Eliminamos los estilos*/
    padding: 0;
    display: flex; /*Alineamos los elementos*/
    justify-content: center;
    gap:20px;
}
/*Elementos de la lista de navegación*/
.sidebar ul li {
    margin: 10px 0;
    display: inline; /*Indicamos que los elementos esten en linea*/
}
/*Enlaces dentro de la barra de navegacion*/
.sidebar ul li a {
    color: white;
    font-size: 15px;
}
/*Contenido*/

.Contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Header / Cabecera*/

.header{
    background: lightblue;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Grid*/
.Grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 20px;
    flex-grow: 1;
}

/*Tarjetas / Contenido del grid*/
.Tarjeta {
    background: lightsalmon;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
}
/*Efecto cursor encima*/
.Tarjeta:hover{
    transform: scale(1.05);
    background: lightseagreen;
}

/*Modo Oscuro, donde cambiamos todos los colores a tonos oscuros*/

.dark-mode {
    background: black;
    color: white;
}

.dark-mode .header {
    background: #444;
}

.dark-mode .Tarjeta {

    background: #333;
    color:white;
}

.dark-mode .Tarjeta:hover {
    background: #555;
}

/* Responsividad */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .sidebar{
        width: 30%;
    }

    .content {
        width: 70%;
    }
}